@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat+Alternates&display=swap');
/* * { border: 1px solid red; } */
/* html{
    height: 100%;
    overflow: hidden;
} */
body{
    --yellow: #F0BB62;
    --cream: #f4eea9;
    --darkgreen: #064635;
    --lightgreen: #519259;
    --black: #000;
    --white: #fff;
    --height: 1000px;
    --font1: 'Lobster Two', cursive;
    --font2: 'Montserrat Alternates', sans-serif;
    background-color: var(--cream);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font2);
}
#top{
    background-color: var(--yellow);
}
#inside{
    margin: 0px;
    box-sizing: border-box;
    padding: 40px;
}
/* side menu bar */
aside{
    box-shadow: none;
    margin-right: 40px;
    border-radius: 30px;
    overflow: hidden;
}
.menu-item{
    background-color: var(--darkgreen);
    border-radius: 70px;
}
.menu-item:hover{
    background-color: var(--cream);
    transform: translateX(15px);
}
.menu-item a:hover{
    background-color: var(--cream);
    border-radius: 70px;
}
#search{
    width: 20%;
    border-radius: 15px;
    position: absolute;
    right: 50px;
    top: 18px;
}
#searchButton{
    border: none;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    right: 50px;
    top: 18px;
    background-color: var(--cream);
}
/*----------- add info ---------------*/
#list_menu{
    display: flex;
    background-color: var(--darkgreen);
    border-radius: 30px;
}
#leftPage, #rightPage{
    background-color:#fbf8d2;
    border-radius: 30px;
}
#menuIngrediant, #menuMethod, #showIngrediant, #showMethod{
    resize: none;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid var(--yellow);
}
#menuName{
    border-radius: 20px;
    border: 2px solid var(--yellow);
}
#imageBox{
    width: 90%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cream);
    border-radius: 30px;
    border-style: dashed;
    border-color: var(--yellow);
}
select{
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--darkgreen);
    color: #f4eea9;
    height: 35px;
    padding-left: 20px;
}
/* ------spending time--------- */
#day, #hour, #minute{
    background-color: var(--cream);
    border: 2.5px solid var(--darkgreen);
}
#addMenuButton{
    background-color: var(--yellow);
    border: 2.5px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    position: absolute;
    left: 74%;
}


/* scroll bar */
/* width */
textarea::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
textarea::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: var(--yellow); 
    border-radius: 10px;
}