<!-- top bar -->
<section class="hero is-small" id="top">
    <div class="hero-body is-flex">
        <div class="container">
            <h6 class="title is-size-4 has-text-centered has-text-weight-bold">
                <b>Tamra Cookbook</b>
            </h6>
        </div>
        <form action="">
            <input class="input" type="text" placeholder="Search Menu ..." id="search" name="search">
            <button class="button" type="submit" id="searchButton"><i class="fas fa-search"></i></button>
        </form>
    </div>
</section>

<div class="columns is-max-desktop inside">
    
    <!------------------------ side menu bar --------------------------------->

    <aside class="column is-one-fifth has-background-white pl-6 pr-6">
        <figure class="image mr-auto ml-auto pt-5">
            <img src="/img/logo_cookbook.png" class="mr-auto ml-auto mt-5" style="width: 250px; margin-bottom: 100px;">
        </figure>
        <div class="menu">
            <ul class="menu-list"> 
                <li class="menu-item has-text-centered mb-5 ml-6" style="background-color: #f4eea9; width: 110%;">
                    <a href="/home" style="color: #064635;"><b>Home</b></a></li>
                <li class="menu-item has-text-centered mb-5">
                    <a href="/addmenu" style="color: #f4eea9;" onMouseOver="this.style.color = '#064635'" onmouseout="this.style.color = '#f4eea9'"><b>Add My Menu</b></a></li>
                <li class="menu-item has-text-centered mb-5">
                    <a href="/favorite" style="color: #f4eea9;" onMouseOver="this.style.color = '#064635'" onmouseout="this.style.color = '#f4eea9'"><b>Favorite</b></a></li>
                <li class="menu-item has-text-centered mb-5">
                    <a href="/mymenu" style="color: #f4eea9;" onMouseOver="this.style.color = '#064635'" onmouseout="this.style.color = '#f4eea9'"><b>My Menu</b></a></li><br>
                <li class="menu-item has-text-centered mt-6">
                    <a href="/signin" style="color: #f4eea9;" onMouseOver="this.style.color = '#064635'" onmouseout="this.style.color = '#f4eea9'"><b>Log out</b></a></li>
            </ul>
        </div>
    </aside>