<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowMENU</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="ShowMENU.css">
</head>

<body>
    <!-- top bar -->
    <section class="hero is-small" id="top">
        <div class="hero-body">
            <div class="container">
                <h6 class="title is-size-4 has-text-centered has-text-weight-bold">
                    Tamra Cookbook
                </h6>
            </div>
        </div>
    </section>

    <div class="columns pb-2 is-max-desktop" id="inside">
        <!-- side menu bar -->
        <aside class="column is-3 has-background-white pl-6 pr-6">
            <figure class="image mr-auto ml-auto pt-5">
                <img src="/img/logo_cookbook.png" class="mr-auto ml-auto mt-5" style="width: 250px; margin-bottom: 100px;">
            </figure>
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-item has-text-centered mb-5"><a class="has-text-white" href="Home.html">Home</a></li>
                    <li class="menu-item has-text-centered mb-5"><a class="has-text-white" href="AddMenu.html">Add My Menu</a></li>
                    <li class="menu-item has-text-centered mb-5"><a class="has-text-white" href="Favorite.html">Favorite</a></li>
                    <li class="menu-item has-text-centered mb-5"><a class="has-text-white" href="MyMENU.html">My Menu</a></li><br>
                    <li class="menu-item has-text-centered mt-6"><a class="has-text-white">Log out</a></li>
                </ul>
            </div>
        </aside>

        <!-- list-fav-menu -->
        <div class="column is-4 list-fav-menu" id="list-menu">
            <p id="head-showMenu">category : thai food</p>
            <!-- 1 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : มัสมั่นไก่</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
            <!-- 2 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : ผัดผัก</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
            <!-- 3 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : มัสมั่นไก่</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
            <!-- 4 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : ผัดผัก</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
            <!-- 5 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : มัสมั่นไก่</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
            <!-- 6 menu -->
            <table class="table is-fullwidth" id="fav-menu">
                <tr>
                    <td rowspan="3" style="width: 128px;">
                        <figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </td>
                    <td>ชื่อเมนู : ผัดผัก</td>
                    <td>star</td>
                </tr>
                <tr>
                    <td>category :</td>
                </tr>
                <tr>
                    <td>Meal :</td>
                </tr>
            </table>
        </div>


        <!-- show-select-fav-menu -->
        <div class="column is-5" id="show-select-fav-menu">
            <p style="text-align: center; margin-top: 50%;">select Select Your Menu To Show</p>
        </div>

    </div>



</body>

</html>