/* top bar */
#top {
    background-color: #F0BB62;
}

/* side menu bar */
.inside {
    margin: 0 auto;
    max-height: var(--height);
}

aside {
    box-shadow: none;
    border: 40px solid #f4eea9;
    border-radius: 70px;
    overflow: hidden;
}

.menu-item {
    background-color: #064635;
    border-radius: 70px;
}
.menu-item:hover{
    background-color: var(--cream);
    transform: translateX(15px);
}
.menu-item a:hover{
    background-color: var(--cream);
    border-radius: 70px;
}


body {
    --yellow: #F0BB62;
    --cream: #f4eea9;
    --darkgreen: #064635;
    --lightgreen: #519259;
    --black: #000;
    --white: #fff;
    --height: 1000px;
    background-color: var(--cream);
}


/* middle page ----------------------------------------- */
#list-My-menu {
    background-color: var(--yellow);
    /* border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px; */
    max-height: var(--height);
    overflow-y: scroll;
}

/* scrollbar----------------- */
/* width */
.list-fav-menu::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.list-fav-menu::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 100px;
}

/* Handle */
.list-fav-menu::-webkit-scrollbar-thumb {
    background: var(--cream);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

/* table colume---------------- */
#fav-menu {
    background-color: #fff;
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 10px;
    border-radius: 10px;
}

/* back page ----------------------------------------- */
#show-select-fav-menu {
    background-color: var(--white);
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 30px;
    max-height: var(--height);
}

/* scrollbar----------------- */
/* width */
.show-select-fav-menu::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.show-select-fav-menu::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 100px;
}

/* Handle */
.show-select-fav-menu::-webkit-scrollbar-thumb {
    background: var(--cream);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

/* --------------------------------------------MyMENU_edit------------------ */
/* back page ----------------------------------------- */
#show-select-change-menu {
    background-color: var(--white);
    border-radius: 70px;
    border-left: 5px solid var(--cream);
    border-right: 30px solid var(--cream);
    border-top: 30px solid var(--cream);
    border-bottom: 30px solid var(--cream);
    max-height: var(--height);
    overflow-y: scroll;
}

/* scrollbar----------------- */
/* width */
.show-select-change-menu::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.show-select-change-menu::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 100px;
}

/* Handle */
.show-select-change-menu::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}


/* วัตถุดิบ */
/* scrollbar----------------- */
/* width */
.material-food::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.material-food::-webkit-scrollbar-track {
    border-radius: 100px;
}

/* Handle */
.material-food::-webkit-scrollbar-thumb {
    background: var(--cream);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

/* วิธีทำ */
/* scrollbar----------------- */
/* width */
.method-food::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.method-food::-webkit-scrollbar-track {
    border-radius: 100px;
}

/* Handle */
.method-food::-webkit-scrollbar-thumb {
    background: var(--cream);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
}

#category-select {
    background-color: var(--cream);
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#meal-select {
    background-color: var(--cream);
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}